// Define variables for your color scheme

// For example:
$red: #c4171a;
$blue: #5A7C99;
$yellow: #FFCA3B;
$orange: #E67E22;
$green: #4F926E;
$gray: #7c7b7b;
$light-gray: #F4F4F4;
$aqua-blue: #75B3BB;
$black: #313638;
