<div class="container">
  <div class="content">
    <%= image_tag("animales_blender.png") %>
    <div class="d-flex"></div>
    <h1>The Blender</h1>
    <p style="font-size: 24px">Where the blend of tourism and microfinance happens.</p>
  </div>
</div>
